<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>8.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,388},{210,192}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{210,192}}</string>
                <key>sourceSize</key>
                <string>{210,192}</string>
            </dict>
            <key>effect1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,582},{174,171}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{174,171}}</string>
                <key>sourceSize</key>
                <string>{174,171}</string>
            </dict>
            <key>effect2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{384,244}}</string>
                <key>offset</key>
                <string>{-8,4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,4},{384,244}}</string>
                <key>sourceSize</key>
                <string>{400,260}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>flash_effects.png</string>
            <key>size</key>
            <string>{248,755}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:2e631d213852757a548cbba9ea545560:7095cdd70a2c15711f5a613591ebc558:6ea4b25ce67a307d81f4a97f3ab4bae2$</string>
            <key>textureFileName</key>
            <string>flash_effects.png</string>
        </dict>
    </dict>
</plist>
